.btn-primary {
  background-color: #4067e8;
  border-radius: 6px;
  color: white;
  text-align: center;
  padding: 8px 15px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: rgb(136, 173, 241);
}

.btn-secondary {
  background-color: #fdf0d0;
  border-radius: 6px;
  text-align: center;
  padding: 8px 10px;
  color: black;
}

.btn-secondary:hover {
  background-color: #fcbb21;
}
